body {
    margin: 0;
    padding: 0;
    background-color: rgba(80, 94, 79, 0.938);
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

ul {
    display: flex;
    flex-direction: row;
}

.App {
    background-color: rgba(80, 94, 79, 0.938);
}